In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'id':[1,2,3,4],'color':['red','pink','red','white']})

In [4]:
df

   id  color
0   1    red
1   2   pink
2   3    red
3   4  white

In [8]:
# Sorting the data 

df = pd.DataFrame({'id':[1,2,3,4],'color':['red','pink','red','white']},columns = ['color','id'])

In [10]:
# Here the color is ordered first & then id 

df

   color  id
0    red   1
1   pink   2
2    red   3
3  white   4

In [14]:
# By defaul we have index & we can change them too 

df = pd.DataFrame({'id':[1,2,3,4],'color':['red','pink','red','white']},index =['a','b','c','d'])

In [15]:
df

   id  color
a   1    red
b   2   pink
c   3    red
d   4  white

In [17]:
# Creating data frame using list of lists [ [] [] [] ]

pd.DataFrame([[11,'red'],[13,'blue'],[12,'orange']],columns=['id','color'])

   id   color
0  11     red
1  13    blue
2  12  orange

In [18]:
# From numpy array 

import numpy as np 

arr = np.random.rand(5,3)

arr

array([[0.33984764, 0.15960676, 0.28874666],
       [0.94625674, 0.74581294, 0.05552478],
       [0.84351468, 0.00651737, 0.02243001],
       [0.21968064, 0.58336361, 0.56891063],
       [0.19982937, 0.15715664, 0.80833046]])

In [20]:
df = pd.DataFrame(arr,columns = ['mean','standard deviation','probability'])
df

       mean  standard deviation  probability
0  0.339848            0.159607     0.288747
1  0.946257            0.745813     0.055525
2  0.843515            0.006517     0.022430
3  0.219681            0.583364     0.568911
4  0.199829            0.157157     0.808330

In [22]:
pd.DataFrame({'student':np.arange(100,111,1),'test_score':np.random.randint(70,101,11)})

    student  test_score
0       100          98
1       101          77
2       102          98
3       103          99
4       104          96
5       105          78
6       106          95
7       107          82
8       108          95
9       109          94
10      110          86

In [23]:
pd.DataFrame({'student':np.arange(100,111,1),'test_score':np.random.randint(70,101,11)}).set_index('student')

         test_score
student
100              75
101              96
102              90
103              74
104              83
105              89
106              97
107              84
108              78
109              83
110              96

In [29]:
#Series 
# Here name is the identifier of the series s

s = pd.Series(['square','round','rectangle'],index=[3,2,1],name='shapes')
s

3       square
2        round
1    rectangle
Name: shapes, dtype: object

In [27]:
# Combining with the dataframe df 

df

       mean  standard deviation  probability
0  0.339848            0.159607     0.288747
1  0.946257            0.745813     0.055525
2  0.843515            0.006517     0.022430
3  0.219681            0.583364     0.568911
4  0.199829            0.157157     0.808330

In [30]:
pd.concat([df,s],axis=1)

       mean  standard deviation  probability     shapes
0  0.339848            0.159607     0.288747        NaN
1  0.946257            0.745813     0.055525  rectangle
2  0.843515            0.006517     0.022430      round
3  0.219681            0.583364     0.568911     square
4  0.199829            0.157157     0.808330        NaN

#### Here shapes become the field type as it is the identifier name of series & it is aligned with the index of df